@model Progetto.Models.Verbale

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Aggiungi nuove multe per dare soldi allo Stato</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group my-3">
                    <label asp-for="IdVerbale" class="control-label"></label>
                    <input asp-for="IdVerbale" class="form-control" />
                    <span asp-validation-for="IdVerbale" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="DataViolazione" class="control-label"></label>
                    <input asp-for="DataViolazione" class="form-control" />
                    <span asp-validation-for="DataViolazione" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="IndirizzoViolazione" class="control-label"></label>
                    <input asp-for="IndirizzoViolazione" class="form-control" />
                    <span asp-validation-for="IndirizzoViolazione" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="NominativoAgente" class="control-label"></label>
                    <input asp-for="NominativoAgente" class="form-control" />
                    <span asp-validation-for="NominativoAgente" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="DataTrascrizioneVerbale" class="control-label"></label>
                    <input asp-for="DataTrascrizioneVerbale" class="form-control" />
                    <span asp-validation-for="DataTrascrizioneVerbale" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Importo" class="control-label"></label>
                    <input asp-for="Importo" class="form-control" />
                    <span asp-validation-for="Importo" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="IdAnagrafica" class="control-label"></label>
                    <select asp-for="IdAnagrafica" class="form-control" asp-items="ViewBag.Trasgressori"></select>
                    <span asp-validation-for="IdAnagrafica" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="IdViolazione" class="control-label"></label>
                    <input asp-for="IdViolazione" class="form-control" />
                    <span asp-validation-for="IdViolazione" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div> <br />

    <div class="text-center">
        <a asp-action="Index" class="btn btn-link">Torna alla Home</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
